doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    meta(viewport="width=device-width, initial-scale=1, minimal-ui, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
  footer
    ul
      li
        a(href="/") Phaser
      li
        a(href="webgl") WebGL
    
    script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    <!-- banner-endlesscloud -->
    ins(class="adsbygoogle",
        style="display:inline-block;width:728px;height:90px",
        data-ad-client="ca-pub-0510235722692460",
        data-ad-slot="4505131983")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});

    block scripts
