doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    meta(viewport="width=device-width, initial-scale=1, minimal-ui, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    <!-- banner-endlesscloud -->
    ins(class="adsbygoogle",
        style="display:inline-block;width:728px;height:90px",
        data-ad-client="ca-pub-0510235722692460",
        data-ad-slot="4505131983")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});

    script(src="//cdnjs.cloudflare.com/ajax/libs/phaser/2.4.6/phaser.min.js")
    script(src="javascripts/follow/gamestate.js")
    script(src="javascripts/follow/follower.js")
    script(src="javascripts/follow/rock.js")
    script(src="javascripts/follow/rocks.js")
    script(src="javascripts/follow/follow.js")
